.add-book__header{
    padding:10px;
    background-color: var(--app-semi-color);
    text-align: center;
    color: white;
}

.new-book__item{
    border: 1px solid var(--app-color);
    border-left: 5px solid var(--app-color);
    padding: 10px; 
    margin: 20px 0px;
    position: relative;
}
.new-book__item .del-book__badge{
    position: absolute;
    right: 5px;
    top: 2px;
    font-size: 1.2rem;
    background-color: var(--app-semi-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--app-color);
}
.new-book__item .del-book__badge:hover{
    cursor: pointer;
    color:white;
}