.app-header{
    background-color: var(--app-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.app-header .app-header-content{
    display: flex;
    align-items: center;
}
.app-header .app-header-content .app-logo{
    font-size: 2rem;
    color: white;
    font-weight: bold;
    flex: 1;
}
.app-header .app-header-content .nav-link{
    color:white;
}