@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
:root {
  --app-color: #563636;
  --app-semi-color: #56363685;
}
body
{
    font-family: 'Roboto', sans-serif !important;
}

.app-container{
  
}
.app-container .app-content{
  margin:auto;
  max-width: 1140px;
}