.book-filter__container{
    padding: 20px 0px;
    background-color: #eceaea;
}
.book-filter__container .title{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}
.book-filter__container .sub-title{
    text-align: center;
}
.book-filter__container .search-bar{
    position: relative;
    margin-top: 10px;
    padding: 15px;
    /* border-radius: 25px; */
    background-color: white;
    display: flex;
}
.book-filter__container .search-bar .icon{
    width: 30px;
}
.book-filter__container .search-bar .search-input{
    font-size: 1.3rem;
    border: none;
    width: 100%;
    flex: 1;
    margin-left: 10px;
}
.book-filter__container .search-bar .search-input:focus{
    outline: none;
}

.book-filter__container .search-filter{
    /* border-radius: 25px; */
    padding-top: 10px;
    background-color: white;
}